.testimonial {

    .carousel-inner {

        .testimonial-item {
            text-align: center;

            .testimonial-text {
                width: 100%;
                border: 5px solid $border-light;
                transform: scale(.8);
                transition: all .5s;

                p {
                    font-size: 1.3em;
                }

                h5,
                span {
                    font-size: 1.5em;
                }
            }
        }
    }

    &:hover button {
        opacity: 1;
        color: $brown;

    }

    &:hover .testimontial-prev {
        transform: translateX(-50%);
    }

    .testimontial-prev {
        left: 40%;
    }

    &:hover .testimontial-next {
        transform: translateX(50%);
    }

    .testimontial-next {
        right: 40%;
    }

    button {
        opacity: 0;
        color: $black;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 2.8em;
        top: 35%;
        transition: all .5s;

    }


}